<!DOCTYPE html>
<html lang="en" dir="ltr">
<body style="font-family: Calibri, Arial, Helvetica, sans-serif; color: rgb(0, 77, 77);">

	<div style="background-color: rgb(0, 128, 128); color: rgb(230,255,255); padding:1px 1em 1px 25px;">
		<h2>B4Flight <span style="font-size: medium; float:right; margin-top:0.75em">Thanks for making contact</span></h2>
	</div>
	<p>Hello {{firstname}}</p>
	<p>Thanks for making contact with us!  Your message has been forwarded straight to me - I'll get back to you as soon as I can.  
	For your records, here's what you sent to us:</p>
	<div style="margin-left:10%; font-style:italic;">
	<p>{{message|safe}}</p>
	</div>
	
	<p>Cheers <br>Andrew</p>

</body>	
</html>