venv/
bflightenv/

*.pyc
__pycache__/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

bin

instance/
working_files/
notam_archives/
upload_archives/

B4Flight/src/flightbriefing/flightbriefing.ini

navdata_working/
