<!--This is the Index Page for users who ARE logged in -->
{% extends 'base.html' %}

{% block header %}

  <h1 class="text-center bg-light">{% block title %}B4Flight Dashboard - {{session['user_fname']}} {% endblock %}</h1>

{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-7 bflight-home-panel">
			<h3>WHAT'S NEW?</h3>
			<p>The latest CAA NOTAM Briefing was on <b>{{briefing.Briefing_Date}} {{briefing.Briefing_Time}}</b>,  briefing reference <b>{{briefing.Briefing_Ref}}</b></p>
			<p>There are <b>{{notam_count}}</b> active NOTAMS:  View these in <a href="{{url_for('viewmap.detailnotams')}}">detail</a> or on a <a href="{{url_for('viewmap.viewmap')}}">map</a></p>
			<p>
			<b>{{new_notams}}</b> NOTAMS have been added and <b>{{deleted_notams}}</b> have expired over the past week (since {{last_wk_brief_date}}).<br> 
			View these on a <a href="{{url_for('viewmap.newnotams')}}">map</a> or in <a href="{{url_for('viewmap.changednotamdetail')}}">detail</a></p>
		</div>
		<div class="col-md-4 bflight-home-panel">
			<h3>HOME NOTAMS</h3>
			<p><b>***PLACEHOLDER***</b></p>
			<p>Latest NOTAMS within 10nm of your home aerodrome</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7 bflight-home-panel">
			<h3>YOUR RECENT FLIGHTS</h3>
			<table class="table table-striped table-bordered">
			<thead class="bflight-table-head">
				<tr>
				<th>Uploaded</th>
				<th>Flight Name</th>
				<th>Description</th>
				<th>Action</th>
				</tr>
			</thead>
			<tbody>
			{% if flights %}
				{% for fpl in flights %}
				<tr>
				<td>{{fpl.Import_Date_Text}}</td>
				<td>{{fpl.Flight_Name}}</td>
				<td>{{fpl.Flight_Desc}}</td>
				<td>
					<a href="{{url_for('viewmap.flightmap', flight_id=fpl.FlightplanID)}}" class="btn bflight-btn btn-sm" role="button">View</a>
				</td>
				</tr>
				{% endfor %}
			{% else %}
				<tr>
				<td colspan="4">No Flights Uploaded Yet</td>
				</tr>
			{% endif %}
			</tbody>
			</table>
			<div class="float-right">
				<a href="{{url_for('viewmap.uploadroute')}}" class="btn bflight-btn" role="button">New Flight</a>
			</div>

		</div>
		<div class="col-md-4 bflight-home-panel">
			<h3>YOUR SETTINGS</h3>
			<p><b>***PLACEHOLDER***</b></p>
			<p>You are permanently hiding xx NOTAMS</p>
			<p>Your home field is xx</p>
		</div>
	</div>
</div>
{% endblock %}
