<!--This is the Index Page for users not logged in -->

{% extends 'base.html' %}

{% block title %}Welcome To B4Flight {% endblock %}

{% block header %}

  <h1 class="bflight-page-header">B4Flight - Better NOTAMS</h1>

{% endblock %}

{% block content %}
<div class="container">
	<div class="row bflight-panel">
		<div class="col-sm-6">
			<img class="img-fluid home-page shadow-sm" src="{{url_for('static', filename='img/flight-map.jpg')}}" alt="View Notam Details">
		</div>
		<div class="col-sm-5 offset-sm-1">
			<h2 class="home-page">Quickly See Relevant NOTAMS</h2>
			<div class="home-page">
				<p>Enter a flight route into B4Flight (or upload one), and immediately see the NOTAMS that will affect your flight.
				No filtering through irrelevant NOTAMS.  No need to know whether the parachute drop at 2632E2845S is on your route.</p>
				<p>NOTAMS are shown graphically on the map, with the ability to drill-down and filter through them as you get a view of what lies ahead.</p>
			</div>
		</div>
	</div>

	<div class="row bflight-panel">
		<div class="col-sm-5">
			<h2 class="home-page">Get The Detail You Need</h2>
			<div class="home-page">
				<p>Navigate around the map getting the details of NOTAMS in specific areas. 
				Hide irrelevant NOTAMS (perhaps you don't ever need to worry about conflict in the Middle East) - either temporarily or permanently.</p>
				<p>Filter NOTAMS by category, by date of flight, or by effective radius.</p>
			</div>
		</div>
		<div class="offset-sm-1 col-sm-6 ">
			<img class="img-fluid home-page shadow-sm" src="{{url_for('static', filename='img/notam-view.jpg')}}" alt="Overview of Notams along a route">
		</div>
	</div>

	<div class="row bflight-panel">
		<div class="col-sm-6 ">
			<img class="img-fluid home-page shadow-sm" src="{{url_for('static', filename='img/create-flight.jpg')}}" alt="Create a New Flight Route">
		</div>
		<div class="offset-sm-1 col-sm-5">
			<h2 class="home-page">Route Briefing in Minutes</h2>
			<div class="home-page">
				<p>Enter a new route in less than a minute: give the flight a Name and Description, and enter the waypoints along the route.
				A mini-map gives you a glance of the route, and validations highlight any non-ICAO waypoints (aerodromes, navaids, fixes).</p>
				<p>One click of a button, and you're looking at a map of relevant NOTAMS.  Your flight is saved so you can use it for future briefings.</p>
			</div>
		</div>
	</div>

	<div class="row bflight-panel">
		<div class="col-sm-5">
			<h2 class="home-page">Take Your Briefing With You</h2>
			<div class="home-page">
				<p>Once you've visually inspected your flight briefing, you can generate a printable version with all the NOTAM details to take with you.</p>
				<p>The NOTAMS are grouped by Departure, En-Route and Destination to make them easy to refer to in the air.</p>
			</div>
		</div>
		<div class="offset-sm-1 col-sm-6 ">
			<img class="img-fluid home-page shadow-sm" src="{{url_for('static', filename='img/flight-briefing.jpg')}}" alt="Create a Printable Briefing">
		</div>
	</div>


</div>
{% endblock %}
