{% extends 'base.html' %}

{% block title %}Login to B4Flight{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">
	<form class="bflight-form-login text-center" method="POST">
		<h1 class="h3 text-center mb-5">Please Sign In</h1>
		<label for="username" class="sr-only">Username</label> 
		<input type="text" class="form-control mb-1"  id="username" name="username" placeholder="Username" required autofocus>
		<label for="email" class="sr-only">Password</label> 
		<input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
		<div class="checkbox my-3">
			<label>
				<input type="checkbox" name="remember" value="remember-me"> Remember Me 
			</label>
		</div>
		<button type="submit" class="btn bflight-btn btn-block">Login</button>
		<div class="my-2 small">
			By logging in you agree to B4Flight's <a data-toggle="modal" data-target="#disclaimerModal" href="#">Terms of Use</a>
		</div>
		<div class="mt-2">
		<a href="{{url_for('auth.forgotpass')}}">Forgot your password?</a>
		</div>
		<div class="mt-2">
		Don't have an account?
		<a href="{{url_for('auth.register')}}">Register for B4Flight</a>
		</div>

		<div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="disclaimerModalLongTitle">Disclaimer & Terms of Use</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body small">
					<p>B4Flight is provided to you on an "as-is" basis without warranty of any kind, express or implied. B4Flight is provided as a tool to assist pilots in the flight planning process - it does not replace the official sources for aviation data.</p>
					<p>B4Flight electronically interprets and represents NOTAMS made available by the Civil Aviation Authority, 
					and while every care has been taken to ensure the algorithms function correctly, we cannot be held responsible for any errors and/or omissions either in the underlying data 
					or the representation of it.</p>
					<p> You expressly agree that you use the application is at your sole risk and indemnify B4Flight owners and developers against liability for any 
					damages or losses - including, but not limited to, direct, indirect, or consequential - arising out of the use of B4Flight.</p>			
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}