{% extends 'base.html' %}

  {% block title %}
    {% if flight %}
      Flight Briefing
    {% else %}
		{% if last_wk_briefing_date %}
			New NOTAMS
		{% else %}
	      Visual NOTAMS
		{% endif %}
    {% endif %}
  {% endblock %}

{% block header %}

	<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<div class="container-flow">
	{% if flight %}
		<h2>FLIGHT BRIEFING</h2>
		<p>Briefing for flight <b>{{flight.Flight_Name}}</b> using NOTAM Briefing Reference <b>{{briefing.Briefing_Ref}}</b> as at <b>{{briefing.Briefing_Date}}</b></p>
	{% else %}
		{% if last_wk_briefing_date %}
			<h2>NEW NOTAMS</h2>
			<p>New NOTAMS since {{last_wk_briefing_date}} - current Briefing Reference is <b>{{briefing.Briefing_Ref}}</b> as at <b>{{briefing.Briefing_Date}}</b></p>
		{% else %}
			<h2>CURRENT NOTAMS</h2>
			<p>NOTAM Overview for Briefing Reference <b>{{briefing.Briefing_Ref}}</b> as at <b>{{briefing.Briefing_Date}}</b></p>
		{% endif %}
	{% endif %}
	<div class="row">
		<div class="col-3">
			<div class="bflight-table-head text-center"><b>FILTER CATEGORY</b></div>
			<ul id="group-filter" class="list-group small">
			{% for group in used_groups %}
				<li class="list-group-item py-1" style="background-color: #e6f2ff;">
			    <input id="{{group}}" type="checkbox" class="form-check-input">{{group}}
				</li>
			{% endfor %}
			</ul>
			<div class="bflight-table-head text-center"><b>NOTAM RADIUS</b></div>
			<div class="small border py-1">
				<div class="slidecontainer px-1">
				Filter NOTAM Radius < <span id="radius-display">xx</span>nm: <br>
					<input type="range" min="1" max="999" value="50" class="slider" id="radius-filter" style="width:70%;">
					<button class="btn btn-sm bflight-btn m-2" onclick="filterRadius()">Apply</button>
				</div>
			</div>
			<div class="bflight-table-head text-center"><b>FLIGHT DATE</b></div>
			<div class="small border py-2">
				<form id="date-filter" class="form-inline pl-2" method="post">
					<div class="form-row">
						<div class="col-auto">
							<input type="date" class="form-control-sm" name="flight-date" {% if default_flight_date %}value="{{default_flight_date}}"{% endif %}>
						</div>
						<div class="col-auto">
							<input type="submit" class="btn btn-sm bflight-btn mx-1" value="Filter">
						</div>
					</div>
				</form>
			</div>
		</div>
	
		<div id='map' style='width: 75%; height:75vh;'></div>
	</div>
</div>
<script>

//geojson data for notams
notamGeoData={{notam_geojson|safe}};

{% if flight_geojson %}
//geojsaon data for flightplan
flightGeoData={{flight_geojson|safe}};
{% endif %}

//layers that need to be created to house the notams (format: group_type, eg. obstacle_polygon)
//this same ref is included in the "layer_group" property in the geojson file, to allow filtering 
var usedLayers={{used_layers|safe}};

var usedGroups={{used_groups|safe}};

//assign the mapbox token
mapboxgl.accessToken = '{{mapbox_token}}';

//create the map
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/aretallack/ckbqp754n5i6y1ipufhj4x4jv', //'mapbox://styles/mapbox/streets-v11', // stylesheet location - can create own styles and use them here
    center: [28.5, -26], // starting position [lng, lat]
    zoom: 3 // starting zoom
});

// Create a popup, but don't add it to the map yet.
var popup = new mapboxgl.Popup({
	closeButton: true
});
 
map.on('load', function() {

	//Add the notam datasource
	map.addSource("notams", {
		"type": "geojson",
		"data": {
			"type": "FeatureCollection",
			"features": notamGeoData
		}
	});
	
	map.addControl(new mapboxgl.FullscreenControl());
	
	
	//Loop through the usedLayers, and create a layer for each (eg. layer for obstacle_polygon, obstacle_circle, rpas_polygon, etc.)
	for (var i = 0; i < usedLayers.length; i++) {
		var layerId = usedLayers[i];
		var layerType = usedLayers[i].split("_")[1]; //split the type - circle or polygon - to ensure the correct layer properties are set
		
		if (layerType=='polygon') {

			map.addLayer({
				"id": layerId,
				"type": "fill",
				"source": "notams",
				"paint": {
					"fill-color": ["get","fill"],
					"fill-outline-color": ["get","line"]
				},
				layout : {
					"visibility": "visible"
				},
				'filter': ['==', ["get", "layer_group"], layerId]
			});
		}
		else if (layerType=='circle') {
			map.addLayer({
				"id": layerId,
				"type": "circle",
				"source": "notams",
				"paint": {
					"circle-radius": 10,
					"circle-stroke-color": ["get","line"],
					"circle-color": ["get","fill"]
				},
				layout : {
					"visibility": "visible"
				},
				'filter': ['==', ["get", "layer_group"], layerId]
			});
			
		}



		// Change the cursor to a pointer when the mouse is over the layer.
		map.on('mouseenter', layerId, function() {
			map.getCanvas().style.cursor = 'pointer';
		});
	
		// Change it back to a pointer when it leaves.
		map.on('mouseleave', layerId, function() {
			map.getCanvas().style.cursor = '';
		});
			
		//Create a pop-up when the item is clicked on
		map.on('click', layerId, function(e) {
			
			var popHtml = '';
			
			//Sometimes we get duplicates - prevent this by tracking what's already added
			var alreadyListed = [];
			
			var feats = map.queryRenderedFeatures(e.point);
			for (var i = 0; i < feats.length; i++) {
				if (usedLayers.indexOf(feats[i].layer.id) >=0) {
					
					//If this notam not already added to popup then add it
					if (alreadyListed.indexOf(feats[i].properties.notam_number) < 0) {
						alreadyListed.push(feats[i].properties.notam_number);
						popHtml += '<div id="popup-' + feats[i].properties.notam_number + '">' + 
						'<div class="row bg-dark text-white"><div class="col"><b>' + feats[i].properties.notam_location + '</b></div>' + 
						'<div class="col"><b>' + feats[i].properties.notam_number + '</b></div></div>'+
						'<div class="row"><div class="col"><b>FROM:</b> ' + feats[i].properties.from_date + '</div> ' +
						'<div class="col"><b>TO:</b> ' + feats[i].properties.to_date + '</div></div>' +
						'<div class="row">' + feats[i].properties.notam_text + '</div>'
						if (feats[i].properties.duration != '') {
							popHtml += '<div class="row">' + feats[i].properties.duration + '</div>';
						}
						popHtml += '<div class="row"><div class="col"> </div><div class="col text-right"><a id="' + feats[i].properties.notam_number + '" href=# onclick="hideFeature(id)">Hide This</a></div></div></div>';
					}


//					popHtml += feats[i].properties.text_htm;
//					popHtml += '<a id="' + feats[i].properties.notam_number + '" href=# onclick="hideFeature(id)">Hide This</a>';
				};
			};
			if (popHtml.length > 0) {
//				popHtml = '<table class="table table-borderless table-sm">' + popHtml + '</table>';
				popHtml = '<div class="container" id="popup-container" style="max-height:300px; overflow:auto;">' + popHtml + '</div>';
			}
			
			popup
				.setLngLat(e.lngLat)
				.setHTML(popHtml)
				.setMaxWidth('75%')
				.addTo(map);
			
			//e.stopPropogation();

//			new mapboxgl.Popup()
//				.setLngLat(e.lngLat)
//				.setHTML(e.features[0].properties.text_htm + hide_htm)
//				.addTo(map);
		});
	}

{% if flight_geojson %}
	//Add the flight datasource
	map.addSource("flights", {
		"type": "geojson",
		"data": {
			"type": "FeatureCollection",
			"features": flightGeoData
		}
	});

	map.addLayer({
		"id": "flight",
		"type": "line",
		"source": "flights",
		"paint": {
			"line-color": ["get","line-color"],
			"line-width": 6
		}
	});

	map.fitBounds({{flight_bounds}});

{% endif %}	



});


//Loop through the groups that have been used, and attach click events
for (var i = 0; i < usedGroups.length; i++) {

	var grpElement=document.getElementById(usedGroups[i]);

	grpElement.checked=true;
	
	grpElement.onclick = function(e) {
	//	e.preventDefault();
	//	e.stopPropogation();

		var clicked = this.checked
		var polygonLayer = this.id + '_polygon';
		var circleLayer = this.id + '_circle';
		
		// toggle layer visibility by changing the layout object's visibility property
		if (clicked === false) {
			if (usedLayers.indexOf(polygonLayer) > -1) {
				map.setLayoutProperty(polygonLayer, 'visibility', 'none');
			}
			if (usedLayers.indexOf(circleLayer) > -1) {
				map.setLayoutProperty(circleLayer, 'visibility', 'none');
			}
		} else {
			if (usedLayers.indexOf(polygonLayer) > -1) {
				map.setLayoutProperty(polygonLayer, 'visibility', 'visible');
			}
			if (usedLayers.indexOf(circleLayer) > -1) {
				map.setLayoutProperty(circleLayer, 'visibility', 'visible');
			}
		};
	};
};

//This is the slider to filter elements based on radius
var radiusSlider = document.getElementById("radius-filter");
var radiusFilterDisplay = document.getElementById("radius-display");

//default at 500
{% if redius_default %}
radiusSlider.value = {{radius_default}};
{% else %}
radiusSlider.value = 125;
{% endif %}
radiusFilterDisplay.innerHTML = radiusSlider.value; // Display the default slider value
filterRadius();

// Update the displayed slider value (each time you drag the slider handle) - does not work on IE, so we have onchange to handle that
radiusSlider.oninput = function() {
	radiusFilterDisplay.innerHTML = this.value;
};
// Update the displayed slider value (each time you drag the slider handle) - works on IE
radiusSlider.onchange = function() {
	radiusFilterDisplay.innerHTML = this.value;
};

//Hide a feature by setting its layer property to a non-existent layer.
function hideFeature(notamNumber) {
	
	//Loop through all features in the GEOJson dataset, looking for the one with matching notam_number
	notamGeoData.forEach(function(a) {
		if (a.properties.notam_number == notamNumber) {
			//Append "-hide" to the layer name
			a.properties.layer_group = a.properties.layer_group + '-hide';
		};
	});
	
	//refresh the maps datasource
	map.getSource('notams').setData({
		"type": "FeatureCollection",
		"features": notamGeoData
		});

	//Hide the clicked NOTAM from the popup
	ntm = document.getElementById('popup-' + notamNumber);
	ntm.style.display = 'none';

	//Close the popup if no more visible elements, 
	var c = document.getElementById('popup-container').children;
	var visiblePops = 0;
	for (var i = 0; i < c.length; i++) {
		if (c[i].style.display != 'none') {
			visiblePops += 1;
		}
	} 	

	if (visiblePops == 0) {
		popup.remove();
	}
}


//Hide features based on Radius, by setting their layer properties to a non-existent layer.
function filterRadius() {

	//get the max radius to show from the slider
	radius = radiusSlider.value;

	//Loop through all features in the GEOJson dataset
	notamGeoData.forEach(function(a) {
		//If this feature has already been filtered, unfilter it - filtered features are suffixed with -radius.
		if (a.properties.layer_group.indexOf('-radius') > 0) {
			a.properties.layer_group = a.properties.layer_group.substr(0, a.properties.layer_group.indexOf('-radius'));
		}

		//Filter this feature based on its radius, by adding suffix of -radius to its layer name.
		if (a.properties.radius > radius) {
			a.properties.layer_group = a.properties.layer_group + '-radius';
		};
	});

	//refresh the maps datasource
	map.getSource('notams').setData({
		"type": "FeatureCollection",
		"features": notamGeoData
		});
}



</script>

{% endblock %}