{% extends 'base.html' %}

  {% block title %}
    {% if flight %}
      Flight Briefing
    {% else %}
		{% if last_wk_briefing_date %}
			New NOTAMS
		{% elif home_aerodrome %}
			{{home_aerodrome}} NOTAMS
		{% else %}
	      Explore NOTAMS and WX
		{% endif %}
    {% endif %}
  {% endblock %}

{% block header %}

	<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<div class="container-flow">
	<div id='map' style='position:absolute; width: 100vw; height:90vh;'></div>
	{% if flight %}
		<div class="border rounded bflight-map-filter px-2 py-1 mb-1 col-md-5">
		<div class=" d-none d-md-block">
			<b>FLIGHT BRIEFING</b> as at {{briefing.Briefing_Date}}
			<button class="btn btn-sm bflight-slim-btn ml-2 my-2 float-right" onclick="printBriefing()">Print Briefing...</button>
			<br>
			<b>Flight:</b> {{flight.Flight_Name}} {% if default_flight_date %}<b>on</b> {{default_flight_date}}{% endif %}
		</div> 
		<div class="d-md-none d-sm-block">
			<b>Briefing:</b> {{flight.Flight_Name}} {% if default_flight_date %}<b>on</b> {{default_flight_date}}{% endif %}
			<button class="btn btn-sm bflight-slim-btn ml-2 my-2" onclick="printBriefing()">Print...</button>
			<br>
		</div> 
			<form method="POST" name="print-form" id="print-form" target="_blank"> 
				<input class="inline" type="hidden" name="hidden-notams" id="hidden-notams">
				<input class="inline" type="hidden" name="briefing-flight-date" id="briefing-flight-date">
			</form>
		</div>
	{% else %}
		{% if prev_briefing %}
			<div class="border rounded bflight-map-filter px-2 py-1 mb-1 col-md-4 col-lg-3 d-none d-md-block"><b>NEW NOTAMS</b> since {{prev_briefing.Briefing_Date}}</div>
		{% elif home_aerodrome %}
			<div class="border rounded bflight-map-filter px-2 py-1 mb-1 col-md-4 col-lg-3 d-none d-md-block"><b>NOTAMS for {{home_aerodrome}}</b> as at {{briefing.Briefing_Date}}</div>
		
		{% else %}
			<div class="border rounded bflight-map-filter px-2 py-1 mb-1 col-md-4 col-lg-3 d-none d-md-block"><b>CURRENT NOTAMS</b> as at {{briefing.Briefing_Date}}</div>
		{% endif %}
	{% endif %}
	
	<div class="dropright mt-1" style="width: 2rem;">
		<button type="button" class="btn bflight-map-filter-button " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-filter" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
			</svg>
		</button>
		<div class="dropdown-menu bflight-map-filter py-1" style="min-width: 12rem;">
				<div class="bflight-table-head text-center"><b>FILTER CATEGORY</b></div>
				<ul id="group-filter" class="list-group small">
				{% for group in used_groups %}
					<li class="list-group-item py-1 {% if group == 'My Hidden NOTAMS'%}bflight-map-filter-hidden{% else %}bflight-map-filter{% endif %}" >
				    <input id="{{group}}" type="checkbox" class="form-check-input">{{group}}
					</li>
				{% endfor %}
				{% if 'My Hidden NOTAMS' not in used_groups %}
					<li class="list-group-item py-1 bflight-map-filter-hidden">
				    <input id="My Hidden NOTAMS" type="checkbox" class="form-check-input" disabled>My Hidden NOTAMS
					</li>
				{% endif %}
				</ul>
	
		</div>
	</div>
	<div class="dropright mt-1" style="width: 2rem;">
		<button type="button" class="btn bflight-map-filter-button " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bullseye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
				<path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"></path>
				<path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
			</svg>
		</button>
		<div class="dropdown-menu bflight-map-filter py-1" style="min-width: 12rem;">
			<div class="bflight-table-head text-center"><b>FILTER NOTAM RADIUS</b></div>
			<div class="small border py-1 bflight-map-filter">
				<div class="slidecontainer px-1">
				Filter NOTAM Radius &lt; <span id="radius-display">xx</span>nm: <br>
					<input type="range" min="1" max="999" value="50" class="slider" id="radius-filter" style="width:60%;">
					<button class="btn btn-sm bflight-btn ml-2 my-2" onclick="filterRadius()">Apply</button>
				</div>
			</div>
		</div>
	</div>	
	<div class="dropright mt-1" style="width: 2rem;">
		<button type="button" class="btn bflight-map-filter-button " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"></path>
			</svg>
		</button>
		<div class="dropdown-menu bflight-map-filter py-1" style="min-width: 14rem;">
			<div class="bflight-table-head text-center"><b>FILTER FLIGHT DATE</b></div>
			<div class="small border py-2 bflight-map-filter">
				<div class="ml-1 px-1">
					<input type="date" class="form-control-sm" name="flight-date" id="flight-date" {% if default_flight_date %}value="{{default_flight_date}}"{% endif %}>
					<button class="btn btn-sm bflight-btn ml-2 my-2" onclick="filterDate()">Apply</button>
				</div>
			</div>
		</div>
	</div>
	{% if used_wx_groups %}
	<div class="dropright mt-1" style="width: 2rem;">
		<button type="button" class="btn bflight-map-filter-button " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			  <path fill-rule="evenodd" d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
			</svg>
			
		</button>
		<div class="dropdown-menu bflight-map-filter py-1" style="min-width: 12rem;">
			<div class="bflight-table-head text-center"><b>FILTER WEATHER</b></div>
			<ul id="group-filter" class="list-group small">
			{% for group in used_wx_groups %}
				<li class="list-group-item py-1 bflight-map-filter" >
			    <input id="{{group}}" type="checkbox" class="form-check-input">{{group}}
				</li>
			{% endfor %}
			</ul>
	
		</div>
	</div>
	{% endif %}
	
</div>
<script>

//geojson data for notams
notamGeoData={{notam_geojson|safe}};

{% if flight_geojson %}
//geojsaon data for flightplan
flightGeoData={{flight_geojson|safe}};
{% endif %}

{% if sigair_geojson %}
//geojson data for sigmet and airmet
sigairmetGeoData={{sigair_geojson|safe}};
{% endif %}

{% if metar_geojson %}
//geojsaon data for metars
metarGeoData={{metar_geojson|safe}};
{% endif %}

{% if taf_geojson %}
//geojsaon data for TAFs
tafGeoData={{taf_geojson|safe}};
{% endif %}

//layers that need to be created to house the notams (format: group_type, eg. obstacle_polygon)
//this same ref is included in the "layer_group" property in the geojson file, to allow filtering 
var usedLayers={{used_layers|safe}};

var usedGroups={{used_groups|safe}};

{% if used_wx_groups %}
var usedWxLayers = {{used_wx_layers|safe}}
var usedWxGroups = {{used_wx_groups|safe}}
{% endif %}

var hiddenLayerName = 'My Hidden NOTAMS';

//Do we have a Hidden Layer in the Used Groups?  If not we need one 
if (usedGroups.includes(hiddenLayerName) == false) {usedGroups.push(hiddenLayerName)}
//Do we have Polygon and a Circle layer for "My Hidden NOTAMS" notams?  We need one of each to "receive" any notams hidden interactively
if (usedLayers.includes(hiddenLayerName + '_polygon') == false) {usedLayers.push(hiddenLayerName + '_polygon')}
if (usedLayers.includes(hiddenLayerName + '_circle') == false) {usedLayers.push(hiddenLayerName + '_circle')}

{% if map_bounds %}
const mapBounds = [[{{map_bounds[0][0]|safe}},{{map_bounds[0][1]|safe}}],[{{map_bounds[1][0]|safe}},{{map_bounds[1][1]|safe}}]]; 
{% endif %}

//assign the mapbox token
mapboxgl.accessToken = '{{mapbox_token}}';

//create the map
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/aretallack/ckbqp754n5i6y1ipufhj4x4jv', //'mapbox://styles/mapbox/streets-v11', // stylesheet location - can create own styles and use them here
    center: [28.5, -26], // starting position [lng, lat]
    zoom: 4, // starting zoom
{% if map_bounds %}
	maxBounds: mapBounds, 
{% endif %}
    preserveDrawingBuffer: true
});


// Create a popup, but don't add it to the map yet.
var popup = new mapboxgl.Popup({
	closeButton: true
});
 
map.on('load', function() {

	//Add the notam datasource
	map.addSource("notams", {
		"type": "geojson",
		"data": {
			"type": "FeatureCollection",
			"features": notamGeoData
		}
	});
	
	map.addControl(new mapboxgl.FullscreenControl());
	
	//Always have a "hand pointer" cursor so user knows to click
	map.getCanvas().style.cursor = 'pointer';
	
	//Loop through the usedLayers, and create a layer for each (eg. layer for obstacle_polygon, obstacle_circle, rpas_polygon, etc.)
	for (let i = 0; i < usedLayers.length; i++) {
		let layerId = usedLayers[i];
		let layerType = usedLayers[i].split("_")[1]; //split the type - circle or polygon - to ensure the correct layer properties are set
		
		//Start with this layer being visible
		let layerVis = "visible";
		//If it's a My Hidden NOTAMS layer then start with it being hidden
		if (layerId.split("_")[0] == hiddenLayerName) {
			layerVis = "none";
		}
		
		if (layerType=='polygon') {

			map.addLayer({
				"id": layerId,
				"type": "fill",
				"source": "notams",
				"paint": {
					"fill-color": ["get","fill"],
					"fill-outline-color": ["get","line"]
				},
				layout : {
					"visibility": layerVis //"visible"
				},
				'filter': ['==', ["get", "layer_group"], layerId]
			});
		}
		else if (layerType=='circle') {
			map.addLayer({
				"id": layerId,
				"type": "circle",
				"source": "notams",
				"paint": {
					"circle-radius": 10,
					"circle-stroke-color": ["get","line"],
					"circle-color": ["get","fill"]
				},
				layout : {
					"visibility": layerVis //"visible"
				},
				'filter': ['==', ["get", "layer_group"], layerId]
			});
			
		};

		//Create a pop-up when the item is clicked on
		map.on('click', layerId, function(e){showPopup(e);});
	};

{% if flight_geojson %}
	//Add the flight datasource
	map.addSource("flights", {
		"type": "geojson",
		"data": {
			"type": "FeatureCollection",
			"features": flightGeoData
		}
	});

	map.addLayer({
		"id": "flight",
		"type": "line",
		"source": "flights",
		"paint": {
			"line-color": ["get","line-color"],
			"line-width": 5
		},
		"layout": {
			"line-cap": "round",
			"line-join": "round"
		}
	});

{% endif %}	

{% if used_wx_groups %}

	{% if sigair_geojson %}
	map.addSource("sigairmets", {
		"type": "geojson",
		"data": {
			"type": "FeatureCollection",
			"features": sigairmetGeoData
		}
	});

	map.addLayer({
		"id": "SIGMET_polygon",
		"type": "fill",
		"source": "sigairmets",
		"paint": {
			"fill-color": ["get","fill"],
			"fill-outline-color": ["get","line"],
		},
		layout : {
			"visibility": "none"
		},
		'filter': ['==', ["get", "layer_group"], "SIGMET_polygon"]
	});

	map.addLayer({
		"id": "AIRMET_polygon",
		"type": "fill",
		"source": "sigairmets",
		"paint": {
			"fill-color": ["get","fill"],
			"fill-outline-color": ["get","line"]
		},
		layout : {
			"visibility": "none"
		},
		'filter': ['==', ["get", "layer_group"], "AIRMET_polygon"]
	});
	
	{% endif %}
	
	{% if metar_geojson %}

	//Add the metar datasource
	map.addSource("metars", {
		"type": "geojson",
		"data": {
			"type": "FeatureCollection",
			"features": metarGeoData
		}
	});

	map.addLayer({
		"id": "METAR_symbol",
		"type": "symbol",
		"source": "metars",
		"layout": {
			"visibility": "none",
			"icon-image": "metar-icon-small",
			"icon-anchor": "bottom",
			"icon-allow-overlap": true,
		}
	});
	{% endif %}
	
	{% if taf_geojson %}

	//Add the TAF datasource
	map.addSource("tafs", {
		"type": "geojson",
		"data": {
			"type": "FeatureCollection",
			"features": tafGeoData
		}
	});

	map.addLayer({
		"id": "TAF_symbol",
		"type": "symbol",
		"source": "tafs",
		"layout": {
			"visibility": "none",
			"icon-image": "taf-icon-small",
			"icon-anchor": "bottom",
			"icon-allow-overlap": true,
		}
	});
	
	{% endif %}
	
	for (let i = 0; i < usedWxLayers.length; i++) {
		//Create a pop-up when the item is clicked on
		map.on('click', usedWxLayers[i], function(e){showPopup(e);});
	};

{% endif %}	


{% if flight_bounds %}
	map.fitBounds({{flight_bounds}});
{% endif %}


});


//Loop through the groups that have been used, and attach click events
for (let i = 0; i < usedGroups.length; i++) {

	let grpElement=document.getElementById(usedGroups[i]);

	if (usedGroups[i] != hiddenLayerName) {
		grpElement.checked=true;
	}
	else
	{
		grpElement.checked=false;
	}
	
	grpElement.onclick = function(e) {
	//	e.preventDefault();
	//	e.stopPropogation();

		const clicked = this.checked
		const polygonLayer = this.id + '_polygon';
		const circleLayer = this.id + '_circle';
		
		// toggle layer visibility by changing the layout object's visibility property
		if (clicked === false) {
			if (usedLayers.indexOf(polygonLayer) > -1) {
				map.setLayoutProperty(polygonLayer, 'visibility', 'none');
			}
			if (usedLayers.indexOf(circleLayer) > -1) {
				map.setLayoutProperty(circleLayer, 'visibility', 'none');
			}
		} else {
			if (usedLayers.indexOf(polygonLayer) > -1) {
				map.setLayoutProperty(polygonLayer, 'visibility', 'visible');
			}
			if (usedLayers.indexOf(circleLayer) > -1) {
				map.setLayoutProperty(circleLayer, 'visibility', 'visible');
			}
		};
	};
};

{% if used_wx_groups %}
//Loop through the groups that have been used, and attach click events
for (let i = 0; i < usedWxGroups.length; i++) {

	let grpElement=document.getElementById(usedWxGroups[i]);
	grpElement.checked=false;
	
	grpElement.onclick = function(e) {

		const clicked = this.checked
		const polygonLayer = this.id + '_polygon';
		const symbolLayer = this.id + '_symbol';
	
		// toggle layer visibility by changing the layout object's visibility property
		if (clicked === false) {
			if (usedWxLayers.indexOf(polygonLayer) > -1) {
				map.setLayoutProperty(polygonLayer, 'visibility', 'none');
			}
			if (usedWxLayers.indexOf(symbolLayer) > -1) {
				map.setLayoutProperty(symbolLayer, 'visibility', 'none');
			}
		} else {
			if (usedWxLayers.indexOf(polygonLayer) > -1) {
				map.setLayoutProperty(polygonLayer, 'visibility', 'visible');
			}
			if (usedWxLayers.indexOf(symbolLayer) > -1) {
				map.setLayoutProperty(symbolLayer, 'visibility', 'visible');
			}
		};
	};
};

{% endif %}

//This is the slider to filter elements based on radius
var radiusSlider = document.getElementById("radius-filter");
var radiusFilterDisplay = document.getElementById("radius-display");

//default at 500
{% if radius_default %}
radiusSlider.value = {{radius_default}};
{% else %}
radiusSlider.value = 125;
{% endif %}
radiusFilterDisplay.innerHTML = radiusSlider.value; // Display the default slider value

// Update the displayed slider value (each time you drag the slider handle) - does not work on IE, so we have onchange to handle that
radiusSlider.oninput = function() {
	radiusFilterDisplay.innerHTML = this.value;
};
// Update the displayed slider value (each time you drag the slider handle) - works on IE
radiusSlider.onchange = function() {
	radiusFilterDisplay.innerHTML = this.value;
};

//Hide a feature by setting its layer property to a non-existent layer.
function hideNotam(notamNumber, permanently) {

	//Loop through all features in the GEOJson dataset, looking for the one with matching notam_number
	notamGeoData.forEach(function(a) {
		if (a.properties.notam_number == notamNumber) {
			//If we are hiding permanently, then move the feature onto a "My Hidden NOTAMS" layer
			if (permanently == true) {
				let pos = a.properties.layer_group.search('_');  //find the '_' - eg layer is called 'Aerodromes_polygon'
				a.properties.layer_group = hiddenLayerName + a.properties.layer_group.slice(pos); //change layer name - eg. 'My Hidden NOTAMS_polygon'
				a.properties.permanently_hidden = true;
				a.properties.fill = 'rgba(192,64,64,0.3)';
				a.properties.line = 'rgba(192,64,64,1)';
			}
			//If not hiding permanently, then just suffix the layer with "-hide"
			else {
			//Append "-hide" to the layer name
				a.properties.layer_group = a.properties.layer_group + '-hide';
			}
		};
	});
	
	//refresh the maps datasource
	map.getSource('notams').setData({
		"type": "FeatureCollection",
		"features": notamGeoData
		});

	//Hide the clicked NOTAM from the popup
	ntm = document.getElementById('popup-' + notamNumber);
	ntm.style.display = 'none';

	//Close the popup if no more visible elements, 
	const c = document.getElementById('popup-container').children;
	let visiblePops = 0;
	for (let i = 0; i < c.length; i++) {
		if (c[i].style.display != 'none') {
			visiblePops += 1;
		}
	} 	

	if (visiblePops == 0) {
		popup.remove();
	}
}


function permHideNotam(notamNumber){
	
	fetch('{{url_for("account_admin.hidenotam")}}', 
		{
		method: 'POST',
		headers: {'Content-Type': 'application/json'},
		body: JSON.stringify({notam_number: notamNumber})
		})
	.then(function(response){
		console.log(response.status);
		response.json().then(function(data){
			if (data.result == true){
				hideNotam(notamNumber, true);
				document.getElementById(hiddenLayerName).disabled = false;
			}
			else {
				alert('Could not permanently hide the Notam');
			};
		});

	})
}


//Hide features based on Radius, by setting their layer properties to a non-existent layer.
function filterRadius() {

	//get the max radius to show from the slider
	radius = radiusSlider.value;

	//Loop through all features in the GEOJson dataset
	notamGeoData.forEach(function(a) {
		//If this feature has already been filtered, unfilter it - filtered features are suffixed with -radius.
		if (a.properties.layer_group.indexOf('-radius') > 0) {
			a.properties.layer_group = a.properties.layer_group.substr(0, a.properties.layer_group.indexOf('-radius'));
		}

		//Filter this feature based on its radius, by adding suffix of -radius to its layer name.
		if (a.properties.radius > radius) {
			a.properties.layer_group = a.properties.layer_group + '-radius';
		};
	});

	//refresh the maps datasource
	map.getSource('notams').setData({
		"type": "FeatureCollection",
		"features": notamGeoData
		});
}

filterRadius();

//Hide features based on Date of Flight, by setting their layer properties to a non-existent layer.
function filterDate() {

	//Check if a date has been entered - if so convert it to yyyy-mm-dd format to allow filtering
	let input_date = document.getElementById('flight-date').valueAsDate;
	let filter_date = '';
	
	if (input_date == null) {
		filter_date = '';
	}
	else {
	let day = String(input_date.getDate()).padStart(2, '0');
	let mth = String(input_date.getMonth() + 1).padStart(2, '0');
	let yr = input_date.getFullYear();
	filter_date = `${yr}-${mth}-${day}`;
	console.log(`filter by ${filter_date}`);
	};

	//Loop through all features in the GEOJson dataset
	notamGeoData.forEach(function(a) {
		//If this feature has already been filtered, unfilter it - filtered features contain -date.
		if (a.properties.layer_group.indexOf('-date') > 0) {
			a.properties.layer_group = a.properties.layer_group.replace('-date','');
		}

		//If a date has been entered, Filter this feature based on its date, by adding suffix of -date to its layer name.
		if (filter_date !== '') {
			// Need to cater for To Dates of "PERM" - make them far in the future so they are included 
			let to_date = a.properties.to_date;
			if (to_date.toUpperCase() == 'PERM') {to_date = '2100-12-31'};
			//Dates need to be sliced to 10 characters to remove any time elements
			to_date = to_date.slice(0,10);
			if (a.properties.from_date.slice(0,10) > filter_date || to_date < filter_date ) {
				a.properties.layer_group = a.properties.layer_group + '-date';
			};
		}
	});

	//refresh the maps datasource
	map.getSource('notams').setData({
		"type": "FeatureCollection",
		"features": notamGeoData
		});
}

function printBriefing() {

	const hiddenNotamInput = document.querySelector('#hidden-notams');
	const briefingDateInput = document.querySelector('#briefing-flight-date');
	const frm = document.querySelector('#print-form');
	const input_date = document.getElementById('flight-date').value;
	
	if (input_date == null) {
		briefingDateInput.value='';
	}
	else
	{
		briefingDateInput.value = input_date;
	}

	let hiddenNotams='';
	
	notamGeoData.forEach(function(a) {
		if (a.properties.layer_group.indexOf('-hide') > 0 ) {
				hiddenNotams += a.properties.notam_number + ' ';
			}
	});

	hiddenNotamInput.value = hiddenNotams.trim();
	
	frm.submit();
	
}

function showPopup(e) {
	let popHtml = '';
	let popWXHtml='';
	
	//Sometimes we get duplicates - prevent this by tracking what's already added
	let alreadyListed = [];
	
	const feats = map.queryRenderedFeatures(e.point);
	for (let i = 0; i < feats.length; i++) {

		{% if used_wx_groups %}
		//Is this layer a WEATHER layer?

		if (usedWxLayers.indexOf(feats[i].layer.id) >=0) {
			
			popWXHtml += '<div>'
			if (feats[i].properties.group == 'METAR') {
				popWXHtml += '<div class="row bg-info text-white"><div class="col"><b>' + feats[i].properties.aerodrome + ' - METAR</b></div>' +
				'<div class="col text-right"><b>' + feats[i].properties.date_time + '</b></div></div>'+
				'<div class="row mb-2"><div class="col-auto">' + feats[i].properties.text + '</div>' +
				'<div class="col small text-right text-muted font-italic">' + feats[i].properties.metar_age + '</div></div>'

			}
			else if (feats[i].properties.group == 'TAF') {
				popWXHtml += '<div class="row bg-info text-white"><div class="col"><b>' + feats[i].properties.aerodrome + ' - TAF</b></div>' +
				'<div class="col text-right"><b>' + feats[i].properties.valid_from + ' TO ' + feats[i].properties.valid_to + '</b></div></div>'+
				'<div class="row"><div class="col"><b>Issued: ' + feats[i].properties.date_time + '</b></div>'+
				'<div class="col small text-right text-muted font-italic">' + feats[i].properties.taf_age + '</div></div>' +
				'<div class="row mb-2"><div class="col-auto">' + feats[i].properties.text + '</div></div>' 

			}
			else
			{
				popWXHtml += '<div class="row bg-warning"><div class="col"><b>' + feats[i].properties.group + '</b></div>'
				if (feats[i].properties.flight_levels != 'null') {
					popWXHtml += '<div class="col"><b>' + feats[i].properties.flight_levels + '</b></div>'
				}
				if (feats[i].properties.valid_from != 'null') {
					popWXHtml += '<div class="col-auto text-right"><b>' + feats[i].properties.valid_from + ' TO ' + feats[i].properties.valid_to + '</b></div>'
				}
				popWXHtml += '</div><div class="row mb-1"><div class="col-auto">' + feats[i].properties.text + '</div></div>'
			}

		};
		{% endif %}
		
		
		//Is this layer a NOTAM layer?
		if (usedLayers.indexOf(feats[i].layer.id) >=0) {
			
			//If this notam not already added to popup then add it
			if (alreadyListed.indexOf(feats[i].properties.notam_number) < 0) {
				alreadyListed.push(feats[i].properties.notam_number);
				popHtml += '<div id="popup-' + feats[i].properties.notam_number + '">' + 
				'<div class="row bg-dark text-white"><div class="col"><b>' + feats[i].properties.notam_location + '</b></div>' + 
				'<div class="col text-right"><b>' + feats[i].properties.notam_number + '</b></div></div>'+
				'<div class="row"><div class="col"><b>FROM:</b> ' + feats[i].properties.from_date + '</div> ' +
				'<div class="col"><b>TO:</b> ' + feats[i].properties.to_date + '</div></div>' +
				'<div class="row"><div class="col-auto">' + feats[i].properties.notam_text + '</div></div>'
				if (feats[i].properties.duration != '') {
					popHtml += '<div class="row">' + feats[i].properties.duration + '</div>';
				}

				//If this Notam is permanently hidden, don't show the "hide" buttons
				if (feats[i].properties.permanently_hidden == true) {
					
					popHtml += '<div class="row mb-1"><div class="col text-right">' +
					'<span class="bflight-notam-hidden-indicator">Permanently Hidden</span></div></div></div>';
				}
				//Otherwise show them
				else
				{
					popHtml += '<div class="row"><div class="col text-right">' +
					'<a href=# class="bflight-hide-notam-temp" data-notam="'+ feats[i].properties.notam_number +'" onclick="hideNotam(dataset.notam)">Hide Now</a>' +
					'<a href=# class="bflight-hide-notam-perm" data-notam="'+ feats[i].properties.notam_number +'" onclick="permHideNotam(dataset.notam)">Hide Always</a></div></div></div>';

				}
			}


		};
	};
	if (popHtml.length > 0 | popWXHtml.length > 0) {
		popHtml = '<div class="container" id="popup-container" style="max-height:300px; overflow:auto;">' + popWXHtml + popHtml + '</div>';
	}
	
	popup
		.setLngLat(e.lngLat)
		.setHTML(popHtml)
		.setMaxWidth('50%')
		.addTo(map);
	
	//e.stopPropogation();

};


</script>

{% endblock %}