{% extends 'base.html' %}

  {% block title %}
    {% if flight %}
      Flight Briefing
    {% else %}
		{% if last_wk_briefing_date %}
			New NOTAMS
		{% elif home_aerodrome %}
			{{home_aerodrome}} NOTAMS
		{% else %}
	      Visual NOTAMS
		{% endif %}
    {% endif %}
  {% endblock %}

{% block header %}

	<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<div class="container-flow">
		<div id='map' style='position:absolute; width: 100vw; height:90vh;'></div>
	{% if flight %}
		<div class="border rounded bflight-map-filter px-2 py-1 mb-1 col-5">
		<b>FLIGHT BRIEFING</b> as at {{briefing.Briefing_Date}} 
		<button class="btn btn-sm bflight-slim-btn ml-2 my-2 float-right" onclick="printBriefing()">Print Briefing...</button>
		<br>
		<b>Flight:</b> {{flight.Flight_Name}} {% if default_flight_date %}<b>on</b> {{default_flight_date}}{% endif %}
		<form method="POST" name="print-form" id="print-form" target="_blank"> 
			<input class="inline" type="hidden" name="hidden-notams" id="hidden-notams">
			<input class="inline" type="hidden" name="briefing-flight-date" id="briefing-flight-date">
		</form>
		</div>
	{% else %}
		{% if prev_briefing %}
			<div class="border rounded bflight-map-filter px-2 py-1 mb-1 col-3"><b>NEW NOTAMS</b> since {{prev_briefing.Briefing_Date}}</div>
		{% elif home_aerodrome %}
			<div class="border rounded bflight-map-filter px-2 py-1 mb-1 col-3"><b>NOTAMS for {{home_aerodrome}}</b> as at {{briefing.Briefing_Date}}</div>
		
		{% else %}
			<div class="border rounded bflight-map-filter px-2 py-1 mb-1 col-3"><b>CURRENT NOTAMS</b> as at {{briefing.Briefing_Date}}</div>
		{% endif %}
	{% endif %}
	<div class="row">
		<div class="col-2">
			<div class="bflight-table-head text-center"><b>FILTER CATEGORY</b></div>
			<ul id="group-filter" class="list-group small">
			{% for group in used_groups %}
				<li class="list-group-item py-1 {% if group == 'User Hidden'%}bflight-map-filter-hidden{% else %}bflight-map-filter{% endif %}" >
			    <input id="{{group}}" type="checkbox" class="form-check-input">{{group}}
				</li>
			{% endfor %}
			{% if 'User Hidden' not in used_groups %}
				<li class="list-group-item py-1 bflight-map-filter-hidden">
			    <input id="User Hidden" type="checkbox" class="form-check-input" disabled>User Hidden
				</li>
			{% endif %}
			</ul>
			<div class="bflight-table-head text-center"><b>FILTER NOTAM RADIUS</b></div>
			<div class="small border py-1 bflight-map-filter">
				<div class="slidecontainer px-1">
				Filter NOTAM Radius &lt; <span id="radius-display">xx</span>nm: <br>
					<input type="range" min="1" max="999" value="50" class="slider" id="radius-filter" style="width:60%;">
					<button class="btn btn-sm bflight-btn ml-2 my-2" onclick="filterRadius()">Apply</button>
				</div>
			</div>
			<div class="bflight-table-head text-center"><b>FILTER FLIGHT DATE</b></div>
			<div class="small border py-2 bflight-map-filter">
				<div class="ml-1">
					<input type="date" class="form-control-sm" name="flight-date" id="flight-date" {% if default_flight_date %}value="{{default_flight_date}}"{% endif %}>
					<button class="btn btn-sm bflight-btn ml-2 my-2" onclick="filterDate()">Apply</button>
				</div>
			</div>
		</div>
	
	</div>
</div>
<script>

//geojson data for notams
notamGeoData={{notam_geojson|safe}};

{% if flight_geojson %}
//geojsaon data for flightplan
flightGeoData={{flight_geojson|safe}};
{% endif %}

//layers that need to be created to house the notams (format: group_type, eg. obstacle_polygon)
//this same ref is included in the "layer_group" property in the geojson file, to allow filtering 
var usedLayers={{used_layers|safe}};

var usedGroups={{used_groups|safe}};

var hiddenLayerName = 'User Hidden';

//Do we have a Hidden Layer in the Used Groups?  If not we need one 
if (usedGroups.includes(hiddenLayerName) == false) {usedGroups.push(hiddenLayerName)}
//Do we have Polygon and a Circle layer for "User Hidden" notams?  We need one of each to "receive" any notams hidden interactively
if (usedLayers.includes(hiddenLayerName + '_polygon') == false) {usedLayers.push(hiddenLayerName + '_polygon')}
if (usedLayers.includes(hiddenLayerName + '_circle') == false) {usedLayers.push(hiddenLayerName + '_circle')}


//assign the mapbox token
mapboxgl.accessToken = '{{mapbox_token}}';

//create the map
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/aretallack/ckbqp754n5i6y1ipufhj4x4jv', //'mapbox://styles/mapbox/streets-v11', // stylesheet location - can create own styles and use them here
    center: [28.5, -26], // starting position [lng, lat]
    zoom: 3, // starting zoom
    preserveDrawingBuffer: true
});

// Create a popup, but don't add it to the map yet.
var popup = new mapboxgl.Popup({
	closeButton: true
});
 
map.on('load', function() {

	//Add the notam datasource
	map.addSource("notams", {
		"type": "geojson",
		"data": {
			"type": "FeatureCollection",
			"features": notamGeoData
		}
	});
	
	map.addControl(new mapboxgl.FullscreenControl());
	
	//Always have a "hand pointer" cursor so user knows to click
	map.getCanvas().style.cursor = 'pointer';
	
	//Loop through the usedLayers, and create a layer for each (eg. layer for obstacle_polygon, obstacle_circle, rpas_polygon, etc.)
	for (let i = 0; i < usedLayers.length; i++) {
		let layerId = usedLayers[i];
		let layerType = usedLayers[i].split("_")[1]; //split the type - circle or polygon - to ensure the correct layer properties are set
		
		//Start with this layer being visible
		let layerVis = "visible";
		//If it's a User Hidden layer then start with it being hidden
		if (layerId.split("_")[0] == hiddenLayerName) {
			layerVis = "none";
		}
		
		if (layerType=='polygon') {

			map.addLayer({
				"id": layerId,
				"type": "fill",
				"source": "notams",
				"paint": {
					"fill-color": ["get","fill"],
					"fill-outline-color": ["get","line"]
				},
				layout : {
					"visibility": layerVis //"visible"
				},
				'filter': ['==', ["get", "layer_group"], layerId]
			});
		}
		else if (layerType=='circle') {
			map.addLayer({
				"id": layerId,
				"type": "circle",
				"source": "notams",
				"paint": {
					"circle-radius": 10,
					"circle-stroke-color": ["get","line"],
					"circle-color": ["get","fill"]
				},
				layout : {
					"visibility": layerVis //"visible"
				},
				'filter': ['==', ["get", "layer_group"], layerId]
			});
			
		}


//This did not work well when layers were stacked - mouse would return to normal
		// Change the cursor to a pointer when the mouse is over the layer.
//		map.on('mouseenter', layerId, function() {
//			map.getCanvas().style.cursor = 'pointer';
//		});
	
//		// Change it back to a pointer when it leaves.
//		map.on('mouseleave', layerId, function() {
//			map.getCanvas().style.cursor = '';
//		});

		//Create a pop-up when the item is clicked on
		map.on('click', layerId, function(e) {

			
			let popHtml = '';
			
			//Sometimes we get duplicates - prevent this by tracking what's already added
			let alreadyListed = [];
			
			const feats = map.queryRenderedFeatures(e.point);
			for (let i = 0; i < feats.length; i++) {
				if (usedLayers.indexOf(feats[i].layer.id) >=0) {
					
					//If this notam not already added to popup then add it
					if (alreadyListed.indexOf(feats[i].properties.notam_number) < 0) {
						alreadyListed.push(feats[i].properties.notam_number);
						popHtml += '<div id="popup-' + feats[i].properties.notam_number + '">' + 
						'<div class="row bg-dark text-white"><div class="col"><b>' + feats[i].properties.notam_location + '</b></div>' + 
						'<div class="col"><b>' + feats[i].properties.notam_number + '</b></div></div>'+
						'<div class="row"><div class="col"><b>FROM:</b> ' + feats[i].properties.from_date + '</div> ' +
						'<div class="col"><b>TO:</b> ' + feats[i].properties.to_date + '</div></div>' +
						'<div class="row">' + feats[i].properties.notam_text + '</div>'
						if (feats[i].properties.duration != '') {
							popHtml += '<div class="row">' + feats[i].properties.duration + '</div>';
						}

						//If this Notam is permanently hidden, don't show the "hide" buttons
						if (feats[i].properties.permanently_hidden == true) {
							
							popHtml += '<div class="row mb-1"><div class="col text-right">' +
							'<span class="bflight-notam-hidden-indicator">Permanently Hidden</span></div></div></div>';
						}
						//Otherwise show them
						else
						{
							popHtml += '<div class="row"><div class="col text-right">' +
							'<a href=# class="bflight-hide-notam-temp" data-notam="'+ feats[i].properties.notam_number +'" onclick="hideNotam(dataset.notam)">Hide Now</a>' +
							'<a href=# class="bflight-hide-notam-perm" data-notam="'+ feats[i].properties.notam_number +'" onclick="permHideNotam(dataset.notam)">Hide Always</a></div></div></div>';

						}
					}


//					popHtml += feats[i].properties.text_htm;
//					popHtml += '<a id="' + feats[i].properties.notam_number + '" href=# onclick="hideNotam(id)">Hide This</a>';
				};
			};
			if (popHtml.length > 0) {
				popHtml = '<div class="container" id="popup-container" style="max-height:300px; overflow:auto;">' + popHtml + '</div>';
			}
			
			popup
				.setLngLat(e.lngLat)
				.setHTML(popHtml)
				.setMaxWidth('50%')
				.addTo(map);
			
			//e.stopPropogation();

		});
	}

{% if flight_geojson %}
	//Add the flight datasource
	map.addSource("flights", {
		"type": "geojson",
		"data": {
			"type": "FeatureCollection",
			"features": flightGeoData
		}
	});

	map.addLayer({
		"id": "flight",
		"type": "line",
		"source": "flights",
		"paint": {
			"line-color": ["get","line-color"],
			"line-width": 5
		},
		"layout": {
			"line-cap": "round",
			"line-join": "round"
		}
	});

{% endif %}	

{% if flight_bounds %}
	map.fitBounds({{flight_bounds}});
{% endif %}


});


//Loop through the groups that have been used, and attach click events
for (let i = 0; i < usedGroups.length; i++) {

	let grpElement=document.getElementById(usedGroups[i]);

	if (usedGroups[i] != hiddenLayerName) {
		grpElement.checked=true;
	}
	else
	{
		grpElement.checked=false;
	}
	
	grpElement.onclick = function(e) {
	//	e.preventDefault();
	//	e.stopPropogation();

		const clicked = this.checked
		const polygonLayer = this.id + '_polygon';
		const circleLayer = this.id + '_circle';
		
		// toggle layer visibility by changing the layout object's visibility property
		if (clicked === false) {
			if (usedLayers.indexOf(polygonLayer) > -1) {
				map.setLayoutProperty(polygonLayer, 'visibility', 'none');
			}
			if (usedLayers.indexOf(circleLayer) > -1) {
				map.setLayoutProperty(circleLayer, 'visibility', 'none');
			}
			this.style.font
		} else {
			if (usedLayers.indexOf(polygonLayer) > -1) {
				map.setLayoutProperty(polygonLayer, 'visibility', 'visible');
			}
			if (usedLayers.indexOf(circleLayer) > -1) {
				map.setLayoutProperty(circleLayer, 'visibility', 'visible');
			}
		};
	};
};

//This is the slider to filter elements based on radius
var radiusSlider = document.getElementById("radius-filter");
var radiusFilterDisplay = document.getElementById("radius-display");

//default at 500
{% if radius_default %}
radiusSlider.value = {{radius_default}};
{% else %}
radiusSlider.value = 125;
{% endif %}
radiusFilterDisplay.innerHTML = radiusSlider.value; // Display the default slider value

// Update the displayed slider value (each time you drag the slider handle) - does not work on IE, so we have onchange to handle that
radiusSlider.oninput = function() {
	radiusFilterDisplay.innerHTML = this.value;
};
// Update the displayed slider value (each time you drag the slider handle) - works on IE
radiusSlider.onchange = function() {
	radiusFilterDisplay.innerHTML = this.value;
};

//Hide a feature by setting its layer property to a non-existent layer.
function hideNotam(notamNumber, permanently) {

	//Loop through all features in the GEOJson dataset, looking for the one with matching notam_number
	notamGeoData.forEach(function(a) {
		if (a.properties.notam_number == notamNumber) {
			//If we are hiding permanently, then move the feature onto a "User Hidden" layer
			if (permanently == true) {
				let pos = a.properties.layer_group.search('_');  //find the '_' - eg layer is called 'Aerodromes_polygon'
				a.properties.layer_group = hiddenLayerName + a.properties.layer_group.slice(pos); //change layer name - eg. 'User Hidden_polygon'
				a.properties.permanently_hidden = true;
				a.properties.fill = 'rgba(192,64,64,0.3)';
				a.properties.line = 'rgba(192,64,64,1)';
			}
			//If not hiding permanently, then just suffix the layer with "-hide"
			else {
			//Append "-hide" to the layer name
				a.properties.layer_group = a.properties.layer_group + '-hide';
			}
		};
	});
	
	//refresh the maps datasource
	map.getSource('notams').setData({
		"type": "FeatureCollection",
		"features": notamGeoData
		});

	//Hide the clicked NOTAM from the popup
	ntm = document.getElementById('popup-' + notamNumber);
	ntm.style.display = 'none';

	//Close the popup if no more visible elements, 
	const c = document.getElementById('popup-container').children;
	let visiblePops = 0;
	for (let i = 0; i < c.length; i++) {
		if (c[i].style.display != 'none') {
			visiblePops += 1;
		}
	} 	

	if (visiblePops == 0) {
		popup.remove();
	}
}


function permHideNotam(notamNumber){
	
	fetch('{{url_for("account_admin.hidenotam")}}', 
		{
		method: 'POST',
		headers: {'Content-Type': 'application/json'},
		body: JSON.stringify({notam_number: notamNumber})
		})
	.then(function(response){
		console.log(response.status);
		response.json().then(function(data){
			if (data.result == true){
				hideNotam(notamNumber, true);
				document.getElementById(hiddenLayerName).disabled = false;
			}
			else {
				alert('Could not permanently hide the Notam');
			};
		});

	})
}


//Hide features based on Radius, by setting their layer properties to a non-existent layer.
function filterRadius() {

	//get the max radius to show from the slider
	radius = radiusSlider.value;

	//Loop through all features in the GEOJson dataset
	notamGeoData.forEach(function(a) {
		//If this feature has already been filtered, unfilter it - filtered features are suffixed with -radius.
		if (a.properties.layer_group.indexOf('-radius') > 0) {
			a.properties.layer_group = a.properties.layer_group.substr(0, a.properties.layer_group.indexOf('-radius'));
		}

		//Filter this feature based on its radius, by adding suffix of -radius to its layer name.
		if (a.properties.radius > radius) {
			a.properties.layer_group = a.properties.layer_group + '-radius';
		};
	});

	//refresh the maps datasource
	map.getSource('notams').setData({
		"type": "FeatureCollection",
		"features": notamGeoData
		});
}

filterRadius();

//Hide features based on Date of Flight, by setting their layer properties to a non-existent layer.
function filterDate() {

	//Check if a date has been entered - if so convert it to yyyy-mm-dd format to allow filtering
	let input_date = document.getElementById('flight-date').valueAsDate;
	let filter_date = '';
	
	if (input_date == null) {
		filter_date = '';
	}
	else {
	let day = String(input_date.getDate()).padStart(2, '0');
	let mth = String(input_date.getMonth() + 1).padStart(2, '0');
	let yr = input_date.getFullYear();
	filter_date = `${yr}-${mth}-${day}`;
	console.log(`filter by ${filter_date}`);
	};

	//Loop through all features in the GEOJson dataset
	notamGeoData.forEach(function(a) {
		//If this feature has already been filtered, unfilter it - filtered features contain -date.
		if (a.properties.layer_group.indexOf('-date') > 0) {
			a.properties.layer_group = a.properties.layer_group.replace('-date','');
		}

		//If a date has been entered, Filter this feature based on its date, by adding suffix of -date to its layer name.
		if (filter_date !== '') {
			// Need to cater for To Dates of "PERM" - make them far in the future so they are included 
			let to_date = a.properties.to_date;
			if (to_date.toUpperCase() == 'PERM') {to_date = '2100-12-31'};
			//Dates need to be sliced to 10 characters to remove any time elements
			to_date = to_date.slice(0,10);
			if (a.properties.from_date.slice(0,10) > filter_date || to_date < filter_date ) {
				a.properties.layer_group = a.properties.layer_group + '-date';
			};
		}
	});

	//refresh the maps datasource
	map.getSource('notams').setData({
		"type": "FeatureCollection",
		"features": notamGeoData
		});
}

function printBriefing() {

	const hiddenNotamInput = document.querySelector('#hidden-notams');
	const briefingDateInput = document.querySelector('#briefing-flight-date');
	const frm = document.querySelector('#print-form');
	const input_date = document.getElementById('flight-date').value;
	
	if (input_date == null) {
		briefingDateInput.value='';
	}
	else
	{
		briefingDateInput.value = input_date;
	}

	let hiddenNotams='';
	
	notamGeoData.forEach(function(a) {
		if (a.properties.layer_group.indexOf('-hide') > 0 ) {
				hiddenNotams += a.properties.notam_number + ' ';
			}
	});

	hiddenNotamInput.value = hiddenNotams.trim();
	
	frm.submit();
	
}

</script>

{% endblock %}