{% extends 'base.html' %}

{% block header %}

	<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />

  <h1>{% block title %}Upload Flight Route{% endblock %}</h1>

{% endblock %}

{% block content %}
<div class="container-flow">
	<div class="offset-sm-2 col-sm-8 bg-light form-container">
		<p>Use this form to upload a flightplan route.  
		The route will be saved to your profile, allowing you to view only those NOTAMS applicable to this route</p>
		<p>Currently B4Flight supports
		<ul>
		<li> 
			<b><a href="https://aviationdirect.co.za/product/easyplan-windows-pc-software/" target="_blank">EasyPlan</a></b> Flight Plans (.ep1)
		</li>
		<li>  
			<b><a href="https://www.topografix.com/gpx.asp" target="_blank">GPS Exchange Format</a></b> files (.GPX) - exported by most flightplanning software packages (and online tools such as <a href="https://skyvector.com/" target="_blank">SkyVector</a>) and supported by many GPS devices.</p>
		</li>
		</p> 		
		<form method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<label for="filename" class="col-form-label">Select File to Upload (*.gpx, *.ep1 - max 3MB)</label>
				<input type="file" class="form-control-file bflight-file" id="filename" name="filename" required>
			</div>
			<div class="form-group">
				<label for="routedesc" class="col-form-label">Flight Route Description</label>
				<input type="text" class="form-control" id="routedesc" name="routedesc">
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<button type="submit" class="btn bflight-btn">Upload</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}